body{
    font-family: Arial, sans-serif;
   
}

.wrapper{
   margin: 0 auto;
   background-color: white;
   padding: 32px; 
}

header{
    background-color:lightslategray;
    height: 150px;
    padding: 4px;
    background-image: url(../img/blog.jpg);
}



header h1{
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 1px;
        letter-spacing: -1px;
        color: lightseagreen;
        text-shadow: 0 5px 10px black,
                     1px 2px 5px white;
}
header h2{
    font-variant: small-caps;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.main_menu{
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color:lightslategray;
}



ul.main_menu{
    margin-top: 15px;
}
.main_menu li{
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.main_menu a{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-variant: small-caps;
}

.main_menu a:hover{
    color: rgb(107, 11, 11);
}

.container_12{
    background-color: white;
    margin-bottom:15px;
}
.grid_6 h4{
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.container_12 p{
    color: black;
    font-family: 'Cabin', sans-serif;
}
footer
{
    margin-left: 35px;
    margin-right: 35px;
    padding: 5px 5px 1px 0;
    text-align: center;
    line-height: 1px;
    background-color:lightslategray;
}
footer a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-transform: uppercase;
    padding:10px;
    font-size: 12px;
}

footer a:hover{
    color:white;
}